# Ignore all log files
*.log

# Ignore the target directory
*/target/

# Ignore all .class files
*.class

# Ignore files containing sensitive information
Backend/src/main/resources/application.properties
der-andere-fotograf_JOB00841_x_P1128956_Original.JPEG
IMG_0380.JPEG
Frontend/src/components/Credits.tsx

# Ignore IDE specific files
.vscode/
.idea/
*.iml

# Ignore context files for AI models
Context/
ImplementJavaBackend.md
ImplementJavaBackendReadMe.md
ImplementJavaBackendAnalyize.html

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

### Java ###
*.class
*.jar
*.war
*.ear
/target/
/bin/
/out/

